<div data-role="view" id="remote-view" data-title="remote"
	 data-init="app.controllers.remote.init"
	 data-before-show="app.controllers.remote.beforeShow"
	 data-show="app.controllers.remote.show"
	 data-model="app.controllers.remote.viewModel">

	<div data-role="header">
		<div data-role="navbar">
			<a href="#menu-view" id="toggle-button" data-click="app.controllers.remote.onNavButtonClick" data-target="left-pane" data-align="left" data-icon="organize" data-role="button"></a>
			Remote
		</div>
	</div>
    
	<h1>Remote View</h1>
	<p>
		This is the remote view
	</p>
</div>